# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# notes
explored.md
interfaces.md
MetaContext.md
tests.md
TODO.md

# slither
output.json
slither.config.json
